@font-face {
  font-family: 'dm-sans-light';
  src: url('../../../fonts/DM_Sans/static/DMSans-Light.ttf');
}
@font-face {
  font-family: 'dm-sans-medium';
  src: url('../../../fonts/DM_Sans/static/DMSans-Medium.ttf');
}
@font-face {
  font-family: 'dm-sans-semiBold';
  src: url('../../../fonts/DM_Sans/static/DMSans-SemiBold.ttf');
}
@font-face {
  font-family: 'dm-sans-semiBoldItalic';
  src: url('../../../fonts/DM_Sans/static/DMSans-SemiBoldItalic.ttf');
}
@font-face {
  font-family: 'dm-sans-bold';
  src: url('../../../fonts/DM_Sans/static/DMSans-Bold.ttf');
}
@font-face {
  font-family: 'bricolage-grotesque-bold';
  src: url('../../../fonts/Bricolage_Grotesque/static/BricolageGrotesque-Bold.ttf');
}

:root {
  /* Neutral color palette */
  --clr-neutral-900: hsl(243, 96%, 9%);
  --clr-neutral-800: hsl(243, 27%, 20%);
  --clr-neutral-700: hsl(243, 23%, 24%);
  --clr-neutral-600: hsl(243, 23%, 30%);

  --clr-neutral-300: hsl(243, 6%, 70%);
  --clr-neutral-200: hsl(250, 6%, 84%);
  --clr-neutral-0: hsl(0, 0%, 100%);

  /* Primary color palette */
  --clr-orange-500: hsl(28, 100%, 52%);

  --clr-blue-500: hsl(233, 67%, 56%);
  --clr-blue-700: hsl(248, 70%, 36%);

  /* Font - sizes  */
  --fs-regular: 1.8rem;

  /* Font - weights  */
  --fw-light: 300;
  --fw-regular: 400;
  --fw-medium: 500;
  --fw-semi-bold: 600;
  --fw-bold: 700;

  /* font families  */
  --ff-primary: 'dm-sans-light', sans-serif;
  --ff-secondary: 'dm-sans-bold', sans-serif;
}

* {
  font-family: var(--ff-primary);
  font-size: var(--fs-regular);
  color: var(--clr-neutral-0);
}

html {
  font-size: 62.5%; /* 1rem = 10px */
}

body {
  background-color: var(--clr-neutral-900);
}

.flex {
  display: flex;
}

.flex-center-main {
  justify-content: center;
}

.flex-center-cross {
  align-items: center;
}

.flex-between {
  justify-content: space-between;
}

.align-between {
  align-items: space-between;
}

.flex-col {
  flex-direction: column;
}

.gap-1 {
  gap: 1rem;
}

.gap-2 {
  gap: 1.25rem;
}

.gap-3 {
  gap: 1.5rem;
}

.gap-4 {
  gap: 2rem;
}

.gap-5 {
  gap: 3rem;
}

.btn {
  cursor: pointer;
  padding: 1rem 2rem;
  border-radius: 1rem;
}
